/* You can add global styles to this file, and also import other style files */
input {
    &.ng-invalid.ng-dirty {
        border-bottom: solid 2px red;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

a {
    .btn {
        &:hover {
            cursor: pointer;
        }
    }
}